body {
    font-family: "Montserrat";
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

h2 {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-weight: 700;
}

p {
    color: #8f8f8f;
}

.container-fluid {
    padding: 3% 15% 7%;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

.icon {
    color: #ef8182;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

/* Navigation bar */
.navbar {
    margin: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: "Montserrat";
    font-weight: Light;
    font-size: 1.2rem;
}

.download-button {
    margin: 5% 3% 5% 0;
}

/* title image */
.title-img {
    max-width: 22%;
    transform: rotate(25deg);
    position: absolute;
    right: 26%;
}

#title {
    background-color: #ff4c68;
    color: #fff;
} 

/* features section */

#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

/* testimonial features */
#testimonials {
    text-align: center;
    background-color: #ef8182;
    color: #fff;
}

.testimonial-img {
    width : 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}

/* press features */
#press{
    text-align: center;
    background-color: #ef8182;
    padding: 3%;
}

.press-img {
    width: 15%;
    margin: 20px 20px 50px;
}

/* pricing section */

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-column {
    padding: 3% 2%;
}

/* Call to Action */
#cta {
    background-color: #ff4c68;
    text-align: center;
    padding: 7% 15%;
    color: #FFF;
}

/* CTA section */
#footer {
    text-align: center;
    padding: 7% 15%;
}

.cta-header {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 1.5;
}

/* footer section */

#footer {
    padding: 7% 15%;
    text-align: center;
}
.social-icon {
    margin: 20px 10px;
}



@media (max-width:993px){
    .title-img {
        position: static;
        transform: rotate(0);
    }

    #title{
        text-align: center;
    }
}